.menu {
    background-color: rgb(248, 250, 251);
    color: black;
    margin: 0px;
    padding: 0px;
}

ul {
    align-items: center;
    display: inline-block;
}

li {
    float: left;
    display: block;
  }

li a {
    display: block;
    color: black;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    text-decoration: none;
}

li a:hover {
    color: rgb(33, 119, 99);
}

.bienvenida {
    margin: 50px;
    padding: 50px;
}

.img-rounded {
    border-radius:70%;
    margin: 50px;
}

.img-rounded2 {
    border-radius:70%;
}

.about  {
    background-color: rgb(121, 160, 149);
    margin: 0px;
    padding: 0px;
}

h2 {
    margin: 50px;
    padding: 10px;
}

p {
    margin: 50px;
    padding: 10px;
}

.firstimg {
    margin-top: 20px;
}

.contacto {
    margin: 50px;
}

.proyects {
    background-color: rgb(241, 247, 237);
}

.footer {
    background-color: rgb(97, 97, 99);
}

.proyecto {
    background-color: rgb(33, 119, 99);
    border-radius: 92px 92px 92px 92px;
    margin: 10px;
    text-align: center;
    color: white;
}

.proyecto:hover {
    background-color: rgb(27, 94, 78);
}

.hobbies {
    background-color: rgb(124, 198, 254);
}

.title-proy {
    text-align: center;
}

.fixed-top {
    background-color: rgb(248, 250, 251);
}

html {
    scroll-behavior: smooth;
}

.dot {
    height: 50px;
    width: 50px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }

  audio {
      margin-left: 50px;
  }